
IO_LOC "hi_o" 9,10;
IO_PORT "hi_o" PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "rst" 100,99;
IO_PORT "rst" PULL_MODE=UP SINGLE_RESISTOR=ON;
IO_LOC "clk" 128;
IO_PORT "clk" HYSTERESIS=L2H;
LOC_RESERVE BSRAM_R10[2];
LOC_RESERVE BSRAM_R10[0];
LOC_RESERVE BSRAM_R10[1];
