

IO_LOC "capture" B14;
IO_LOC "cbus_rxd" F10;
IO_LOC "cbus_txd" A9;
IO_LOC "canc_interrupt" A14;
IO_LOC "rcv_en_button" C7;
IO_LOC "rd_config_button" D7;
IO_LOC "rstn" E9;
IO_LOC "send_en_button" E8;
IO_LOC "send_en" A15;
IO_LOC "sysclk" H11;



IO_PORT "rstn"  IO_TYPE=LVCMOS33;
IO_PORT "send_en_button"  IO_TYPE=LVCMOS33;
IO_PORT "rd_config_button"  IO_TYPE=LVCMOS33;
IO_PORT "sysclk"  IO_TYPE=LVCMOS33;
IO_PORT "cbus_rxd"  IO_TYPE=LVCMOS33;
IO_PORT "cbus_txd"  IO_TYPE=LVCMOS33;
IO_PORT "canc_interrupt"  IO_TYPE=LVCMOS33;
IO_PORT "rcv_en_button"  IO_TYPE=LVCMOS33;
IO_PORT "send_en"  IO_TYPE=LVCMOS33;
IO_PORT "capture"  IO_TYPE=LVCMOS33;
