
IO_LOC "blue" K1,K2;
IO_PORT "blue" PULL_MODE=UP DRIVE=8;
IO_LOC "green" K3,K4;
IO_PORT "green" PULL_MODE=UP DRIVE=8;
IO_LOC "red" M1,M2;
IO_PORT "red" PULL_MODE=UP DRIVE=8;
IO_LOC "VS" J1,H1;
IO_PORT "VS" PULL_MODE=UP DRIVE=8;
IO_LOC "HS" J4,J5;
IO_PORT "HS" PULL_MODE=UP DRIVE=8;
IO_LOC "SW[0]" C2,D3;
IO_PORT "SW[0]" PULL_MODE=UP;
IO_LOC "btn[3]" A4,A5;
IO_PORT "btn[3]" PULL_MODE=UP;
IO_LOC "btn[1]" C5,B4;
IO_PORT "btn[1]" PULL_MODE=UP;
IO_LOC "btn[0]" B3;
IO_PORT "btn[0]" PULL_MODE=UP;
IO_LOC "clk" C8;
IO_LOC "SW[5]" E2,E1;
IO_PORT "SW[5]" PULL_MODE=UP;
IO_LOC "SW[4]" F4,F3;
IO_PORT "SW[4]" PULL_MODE=UP;
IO_LOC "SW[3]" G5,F5;
IO_PORT "SW[3]" PULL_MODE=UP;
IO_LOC "SW[2]" D1,D2;
IO_PORT "SW[2]" PULL_MODE=UP;
IO_LOC "SW[1]" E3;
IO_PORT "SW[1]" PULL_MODE=UP;
IO_LOC "btn[2]" D6,C6;
IO_PORT "btn[2]" PULL_MODE=UP;
IO_LOC "SW[7]" G4,H5;
IO_PORT "SW[7]" PULL_MODE=UP;
IO_LOC "SW[6]" F2,F1;
IO_PORT "SW[6]" PULL_MODE=UP;
