
//MJB STD Board (V1.2)
//GW2AR-18C (version C)
//GW2AR-LV18QN88PC8/I7

//System Clock
IO_LOC "clk12" 80;          //FPGA_CLK

//System Reset
IO_LOC "rst_n" 36;          //F_KEY1

//LED
//mjb board
IO_LOC "LED[0]" 4;          //LED1
IO_LOC "LED[1]" 20;         //LED2
IO_LOC "LED[2]" 33;         //LED3
IO_LOC "LED[3]" 34;         //LED4
//camera board
IO_LOC "LED[4]" 19;         //LED1 Camera Board J1_6 <--> MJB Board J8_6 F_GPIO_A5
IO_LOC "LED[5]" 18;         //LED2 Camera Board J1_7 <--> MJB Board J8_7 F_GPIO_A4
IO_LOC "LED[6]" 17;         //LED3 Camera Board J1_8 <--> MJB Board J8_8 F_GPIO_A3
IO_LOC "LED[7]" 16;         //LED4 Camera Board J1_9 <--> MJB Board J8_9 F_GPIO_A2

//UART0 Tx
IO_LOC "UART0TXD" 15;       //MJB Board J8_10 F_GPIO_A1

//External SPI_Flash
IO_LOC "SPI_IO[0]" 61;      //MSPI_DI
IO_LOC "SPI_IO[1]" 62;      //MSPI_DO
IO_LOC "SPI_IO[2]" 57;      //MSPI_WP
IO_LOC "SPI_IO[3]" 63;      //MSPI_HOLD
IO_LOC "SCLK" 59;           //MSPI_CK
IO_LOC "NSS"  60;           //MSPI_CS
IO_PORT "SPI_IO[0]" PULL_MODE=NONE;
IO_PORT "SPI_IO[1]" PULL_MODE=NONE;
IO_PORT "SPI_IO[2]" PULL_MODE=NONE;
IO_PORT "SPI_IO[3]" PULL_MODE=NONE;
IO_PORT "SCLK" PULL_MODE=NONE;
IO_PORT "NSS" PULL_MODE=NONE;

//Camera
IO_LOC "PIXDATA[0]" 48;     //PIXDATA0  //Camera Board J4_4  <--> MJB Board J9_4  //F_GPIO_B11
IO_LOC "PIXDATA[1]" 51;     //PIXDATA1  //Camera Board J4_5  <--> MJB Board J9_5  //F_GPIO_B10
IO_LOC "PIXDATA[4]" 49;     //PIXDATA4  //Camera Board J4_6  <--> MJB Board J9_6  //F_GPIO_B9
IO_LOC "PIXDATA[3]" 53;     //PIXDATA3  //Camera Board J4_7  <--> MJB Board J9_7  //F_GPIO_B8
IO_LOC "PIXDATA[5]" 52;     //PIXDATA5  //Camera Board J4_8  <--> MJB Board J9_8  //F_GPIO_B7
IO_LOC "PIXDATA[2]" 56;     //PIXDATA2  //Camera Board J4_9  <--> MJB Board J9_9  //F_GPIO_B6
IO_LOC "PIXDATA[6]" 54;     //PIXDATA6  //Camera Board J4_10 <--> MJB Board J9_10 //F_GPIO_B5
IO_LOC "PIXCLK" 35;         //PIXCLK    //Camera Board J4_11 <--> MJB Board J9_11 //HS_D1_P
IO_LOC "PIXDATA[7]" 72;     //PIXDATA7  //Camera Board J4_12 <--> MJB Board J9_12 //HS_D1_N
IO_LOC "PIXDATA[8]" 71;     //PIXDATA8  //Camera Board J4_13 <--> MJB Board J9_13 //F_GPIO_B4
IO_LOC "XCLK" 55;           //XCLK      //Camera Board J4_14 <--> MJB Board J9_14 //F_GPIO_B3
IO_LOC "PIXDATA[9]" 75;     //PIXDATA9  //Camera Board J4_15 <--> MJB Board J9_15 //HS_D0_P
IO_LOC "HREF" 74;           //HREF      //Camera Board J4_16 <--> MJB Board J9_16 //HS_D0_N
IO_LOC "VSYNC" 69;          //VSYNC     //Camera Board J4_17 <--> MJB Board J9_17 //F_GPIO_B2
IO_LOC "SCL" 77;            //SCL       //Camera Board J4_19 <--> MJB Board J9_19 //HS_CLK_P
IO_LOC "SDA" 76;            //SDA       //Camera Board J4_20 <--> MJB Board J9_20 //HS_CLK_N

//HDMI Tx
IO_LOC "dout[0]" 27,28;     //HDMI_TX0P,HDMI_TX0N
IO_LOC "dout[1]" 29,30;     //HDMI_TX1P,HDMI_TX1N
IO_LOC "dout[2]" 31,32;     //HDMI_TX2P,HDMI_TX2N
IO_LOC "dout[3]" 25,26;     //HDMI_TXCP,HDMI_TXCN