
IO_LOC "led_o[7]" 41;
IO_PORT "led_o[7]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[6]" 42;
IO_PORT "led_o[6]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[5]" 43;
IO_PORT "led_o[5]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[4]" 44;
IO_PORT "led_o[4]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[3]" 45;
IO_PORT "led_o[3]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[2]" 35;
IO_PORT "led_o[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[1]" 34;
IO_PORT "led_o[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[0]" 8;
IO_PORT "led_o[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "rstn" 39,40;
IO_PORT "rstn" PULL_MODE=UP;
IO_LOC "clk" 22;
IO_PORT "clk" PULL_MODE=UP;
