
IO_LOC "o_tx" R25;
IO_PORT "o_tx" PULL_MODE=NONE DRIVE=8;
IO_LOC "o_led2" R20;
IO_PORT "o_led2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "o_led1" P20;
IO_PORT "o_led1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "o_led3" N21;
IO_PORT "o_led3" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "o_led4" N22;
IO_PORT "o_led4" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;


IO_LOC "i_rx" N24;
IO_PORT "i_rx" PULL_MODE=NONE DRIVE=OFF;
//IO_LOC "i_clk" P16;
IO_PORT "i_clk" PULL_MODE=NONE DRIVE=OFF;
IO_LOC "i_key" L25;


IO_LOC "o_rx_sync" N18;
IO_PORT "o_rx_sync" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;



IO_LOC "i_tx_sync" R16;
IO_PORT "i_tx_sync" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;


IO_LOC "i_sysref" T24;
IO_PORT "i_sysref" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
